*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
.activity{
    height: 50%;
    width: 50%;
    background: linear-gradient(to right,red, orange);
    top: 25%;
    bottom: 25%;
    right: 25%;
    left: 25%;
    position: absolute;
    color: #fff;
}

@font-face {
    font-family: Gilroy;
    src: url(fonts/Gilroy.ttf);
}