*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
html, body {
    height: 100%;
    width: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background-color: #efeef0;
}

nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
}

.upper-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.upper-nav ul{
    display: flex;
    list-style: none;
    padding: 0.80vw;
    align-items: center;
}

.upper-nav ul li{
    padding: 1.042vw;
    font-size: 1.042vw;
    font-weight: 500;
}

.upper-nav .colors{
    display: flex;
    padding: 1.042vw;
    align-items: center;
}

.upper-nav .colors .color{
    height: 1.563vw;
    width: 1.563vw;
    background-color: black;
    border-radius: 50%;
}

span{
    opacity: 70%;
}

.lower-nav{
    display: flex;
    width: 100%;
    align-items: center;
}

.lower-nav ul{
    display: flex;
    list-style: none;
}

.lower-nav ul li{
    font-size: 1.042vw;
    padding: 0vw 3.563vw 1vw 1.1vw;
    font-weight: 500;
}

#alter{
    opacity: 70%;
    padding-left: 0.4vw;
}

.middle{
    width: 100%;
    height: 85%;
}

.text{
    width: 100%;
    height: 44%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
    overflow-y: hidden;
}

.text::-webkit-scrollbar {
    width: 1px;
    height: 7px;
    cursor: pointer;
}

.text::-webkit-scrollbar-thumb{
    background-color: orangered;
}

.elem{
    flex-shrink: 0;
    width: 70%;
    height: 100%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem h1{
    font-size: 6.25vw;
    font-weight: 200;
}

.image{
    display: flex;
    flex-wrap: nowrap;
    height: 55%;
    width: 100%;
    overflow-x: auto;
}

.image img{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image::-webkit-scrollbar {
    width: 1px;
    height: 7px;
}

.image::-webkit-scrollbar{
    cursor: pointer;
}


@font-face {
    font-family: Gilroy;
    src: url(fonts/Gilroy.ttf);
}